@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
  }
  *{
    /* outline: solid 1px red; */
  }
  .footer-section{
    background: #434956;
    max-width: 100%;
    }
  .footer-block{
    max-width: 1600px;
    margin: auto;
  }
  .footer-container{
    padding-top: 50px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
  }
  .growth-icon{
    height: 40px;
    width: 40px;
  }
  .company-header, .platform-header, .resources-header{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
  }
  .company-content, .platform-content, .resources-content{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
  .resources-footer, .company-footer, .platform-footer{
    justify-content: space-around;
    margin-top: -25px;
  }
  .hr-content{
    /* margin-right: 90px; */
    color: #FFFFFF;
    border: 1px solid;
    width: 84%;
    height: 1px;
    opacity: 0.1px;
  }
  .footer-content{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D4D5D9;
  }
  .footer-end{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: auto;
    /* margin-left: 170px; */
  }
  .imp-footer{
    display: flex;
    justify-content: space-evenly;
  }
  @media only screen and (max-width:1160px) {

    .footer-container, .footer-end{
      margin: auto;
      padding: auto;
    }
    .content-sp{
      display: none;
    }
  }

  @media only screen and (max-width:660px) {
    .footer-container{
      flex-wrap: wrap;
      margin: auto;
      padding: auto;
      gap: 10px;
      /* align-items: flex-start; */
    }
    /* .footer-end{
      flex-wrap: wrap;
      margin: auto;
      padding: auto;
    } */
    .icon-footer{
      justify-content: left;
    }
    .imp-footer{
      flex-wrap: wrap;
    }
    .content-sp{
      display: none;
    }
  }