@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
  }
.dept-item, .pos-item{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    width: 205px;
    height: 38px;
    padding: 2px;
    color: #434956;
    border-radius: 6px;
    border: 1px solid #D4D5D9;
  }
  .form-items-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .form-items select {
    margin: 14px;
    cursor: pointer;
  }
  .search-bar{
  cursor: text;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #8D95A5;
  border-radius: 48px;
  border: 1px solid #D4D5D9;
  width: 220px;
  height: 38px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  }
  .hr{
    display: flex;
    max-width: 1300px;
    border: 1px solid #D4D5D9;
    border: 1px 0px 0px 0px;
  }
  .cont{
   margin: auto;
   align-items: center;
   text-align: center;
  }
  .se-container{
    border-left: 2px solid #754BC9;
  }
  .header-se{
    margin-bottom: -10px;
    padding-left: 12px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #22252B;
  }
  .content-se-p1{
    font-family: 'Poppins';
    padding-left: 12px;
    color: #22252B;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  .vert-hr{
    color: #D4D5D9;
    width: 1px;
    height: 48px;  
  }
  .content-se-p2{
    padding-left: 12px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #434956;
  }
  .content-se-p3{
    cursor: pointer;
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #754BC9;
  }
  .lower-section{
    padding: 0px 105px 0px 105px; 
    max-width: 900px;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  @media only screen and (max-width:908px){
    .form-items-container {
      flex-direction: column;
      margin: auto;
      align-items: center;
    }
  }