@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
  }
.block-container{
    max-width: 100%;
    display: flex;
    margin: auto;
  }
  .block-1{
    width: 40%;
    background: #754BC9;
    padding-left: 75px;
    padding-top: 50px; 
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  .block-p1{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
  }
  .block-cont{
    padding-right: 75px;
  }
  .block-p2{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  display: flex; 
  align-items: center; 
  }
  .check {
    height: auto; 
    width: 30px; 
  }
  .block-2{
    width: 60%;
    background: linear-gradient(249.63deg, #F3F4F7 0%, #E1E4EA 82.14%);
    padding-top: 40px; 
    padding-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .img-p1{
    padding-left: 75px;
    height: 30px;
    width: 30px;
  }
  .content-p1{
  margin-top: -5px;
  font-family: 'Poppins-Bold';
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  color: #22252B;
  }
  .content-p2{
  margin-top: -20px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #434956;
  padding-right: 50px;
  }
  .content-block{
    padding-left: 75px;
    padding-right: 110px;
  }
  /*  Small devices (750px and down) */
@media only screen and (max-width:750px){
  .block-container{
    display: block;
  }
  .block-1, .block-2{
    width: auto;
    /* padding-left: auto; */
    padding: auto;
    align-items: left;
  }
  .block-p1, .block-p2{
    text-align: left;
  }
  /* .block-2{
    width: auto;
    padding: auto;
  } */
  .content-block{
    padding: auto;
  }
  .content-p1{
    font-size: 28px;
  }
}
@media only screen and (min-width:1795px) {
  .block-container{
    max-width: 100%;
  }
  .block-1, .block-2{
    width: 50%;
  }
  .block-1{
    display: grid;
    justify-content: flex-end;
  }
  .content-block{
    padding-right: 55%;
  } 
}