/* For smaller screens: */
.menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
.menu span{
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}

/* Extra small devices (phones, 840px and down) */
@media only screen and (max-width: 840px){
  .container-header{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(175, 202, 207, 0.5) 50%);
    height: 100%;
    width: 100%;
  }
  .menu {
      display: flex;
      margin-top: 30px;
      align-items: center;
      padding-right: 10px;
  }
  .navbar-menu, .navbar-signup{
    display: none;
  }
  .hero-section {
    flex-direction: column; 
    /* align-items: center;  */
  }
  .content-break{
    display: none;
  }
  .image {
    width: 100%; 
    align-items: center; 
  }
  
}
/*  Small devices (1200px and down) */
@media only screen and (max-width: 1200px){
  .container-header{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(175, 202, 207, 0.5) 50%);
    height: 100%;
    width: 100%;
  }
  .hero-section {
    flex-direction: column; 
  }
  .content-break{
    display: none;
  }
  .image {
    width: 100%; 
    align-items: center; 
  }
  .img-body {
    margin: 0 auto;
    width: 620px;
    height: 470px;
  }
  /* .content-break-show{
    display: none;
  } */
}