/* For smaller screens: */
.menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
.menu span{
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}
/* Extra small devices (phones, 840px and down) */
@media only screen and (max-width: 840px) {
  .container-header{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(175, 202, 207, 0.5) 50%);
  }
  .navbar-logo{
    align-items: center;
  }
  .menu {
      display: flex;
      margin-top: 30px;
      align-items: center;
  }
  .navbar-menu, .navbar-signup{
    display: none;
  }
}