@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
.header-menu{
  display: flex;
  justify-content: space-around;
  width: 1184px;
  height: 44px;
  margin: auto;
}
.navbar-menu{
  width: 1184px;
  height: 44px;
}
.navbar-logo{
  width: 1184px;
  height: 44px;
}
.navlogo{
  width: 199.04px;
  height: 36px;
/* gap: 0px;
opacity: 0px; */
}
.container-header{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(175, 202, 207, 0.5) 100%);
}
.menu-bar{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #22252B;
}
.img-c, .img-r, .img-p{
  width: Hug (101px)px;
  height: Hug (24px)px;
  line-height: 24px;
  text-align: left;
  color: #22252B;
}
.navbar-login{
  font-family: Poppins-Bold;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  }
.gt{
  display: inline-block;
  transform: rotate(90deg);
  font-size: 20px;
}
.button-createAcc{
font-family: Poppins-Bold;
font-size: 14px;
font-weight: 600;
line-height: 14px;
text-align: left;
color: #FFFFFF;
width: Hug (148px)px;
height: Hug (44px)px;
padding: 15px 18px 15px 18px;
gap: 0px;
border-radius: 48px;
background: #754BC9;
}